# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/
backend/app/transactions.db
backend/transactions.db
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
